.backgroundGalery {
  @media screen and (max-width: 900px) {
    margin: 0 12px;
  }

  &__header {
    margin: 25px 0 15px 10px;
    font-weight: bold;
    color: var(--main_color);
    font-size: 20px;
    white-space: nowrap;
    line-height: 105%;

    @media screen and (max-width: 900px) {
      font-size: 14px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;

    & > div {
      flex: 1;
      margin: 0 0.3em;
    }
    & > div:last-child, :first-child {
      flex: 1;
      margin: 0;
    }

    &__buttonContent {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      
      & > svg {
        margin-right: 1em;
        height: 20px;
        width: 20px;
      }
    }

    @media screen and (max-width: 750) {
      justify-content: space-between;

      & > div {
        flex: none;
        margin: 0;
      }
    }
  }

  &__info {
    margin: 9px 1em;
    font-size: 10px;

    @media screen and (max-width: 750) {
      font-size: 8px;
    }
  }

  &__image {
    margin: 5px;
    cursor: pointer;
  }
}
